extends layout

block content
    h2.page-header Add Vehicle
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(action="/admin/addvehicle", method="post")
        .form-group
            label Vehicle Plale Number
            input.form-control(name='vehicle_id', type='text', placeholder='Enter Vehicle Plale Number')
            label Vehicle Type
            select.form-control(name='vehicle_type')
                option(hidden) Please select an option
                |   
                option(value="2-wheeler") 2-Wheeler
                |   
                option(value="4-wheeler") 4-Wheeler
                |   
                option(value="other") Other
            label Vehicle Model
            input.form-control(name='vehicle_name', type='text', placeholder='Enter Vehicle Model')
            label Vehicle Manufacturer
            input.form-control(name='vehicle_manuf', type='text', placeholder='Enter Vehicle Manufacturer')
        input.btn.btn-primary(type='submit', name='submit',value='Add Vehicle')
    
