extend layout

block content
  h1 Location where our bikes are available
  .main
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!       
    .item
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, necessitatibus. Quaerat, dicta molestias!