extend layout

block content
  h1 Location where our bikes are available
  .main
    each location in locations
      div
        a(href='/#{location.location_name}')
          .item
            .text-bg
              .item-text #{location.location_name}
