extend layout

block content
  h1 Location where our bikes are available
  .main
    each location in locations
      div
        a(href='/#{location.location_name}')
          .item(style="background-image: url('/uploads/#{location.location_image}')")
            .text-bg
              .item-text.ucfirst #{location.location_name}