doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{title}
        link(rel="stylesheet", href="/stylesheets/bootstrap.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .main-bg
            .main-container
                h3 XYZ Company
                h5 In present Times travelling has become as essential part of every humans life. For further details
                .main-container-btn 
                    | Visit our Website
    footer XYZ Company - Vehicle Renting &copy 2018
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="/javascripts/jquery.validate.js")
script(src="/javascripts/bootstrap.js")
script(src="/javascripts/main.js")