form{
    padding: 0 10%;
    width: 100%;
    margin: auto;
}
label{
    margin-top: 0.5rem;
}
/* #messages{
    width: 100%;
} */
ul.success,
ul.error{
    padding-left: 0px;
}
ul.success li{
    padding:15px;
    margin-bottom:20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color:#3c763d;
    list-style: none;
}
ul.error li{
    padding:15px;
    margin-bottom:20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #abccd1;
    color:#a94442;
    list-style: none;
}
.container{
   padding-top: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    /* background-color: cadetblue; */
    grid-auto-flow: row;
    grid-gap: 25px;
}
.item{
    border: 1px solid black;
    padding: 20px;
    background-color: grey;
}
h1{
    font-size: 1.5rem;
    margin: 1rem 0 ;
}
table {
    width: 100%;
}
td{
    padding: 10px
}
th {
    text-align: center;
    padding: 10px;
}
